.DS_Store
node_modules
page_cache
scratchpad*.js
/*.log

# Exclude the output directory so that when working on a new spider the new files do not clutter the IDE
!output
output/*

# Exclude all dotted files except the .index.txt file in each collection
output/*/.*
!output/*/.index.txt

# Include specific folders for collections that are checked in
!output/centenary
!output/bl-articles-unpublished
!output/bl-biographies
!output/bl-talks
!output/bl-encyclopedia
!output/bl-shoghi-effendi
!output/bl-uhj-letters
!output/bl-letters
!output/bl-translations
!output/bl-pilgrim-notes
!output/bl-theses
!output/bl-articles-published
!output/centenary
!output/bl-news-articles
!output/bl-uhj-documents
