node_modules
page_cache
scratchpad*.js

# Exclude the output directory so that when working on a new spider the new files do not clutter the IDE
!output
output/*

# Exclude all dotted files except the .index.txt file in each collection
output/*/.*
!output/*/.index.txt

# Include specific folders for collections that are checked in
!output/centenary
